


@media only screen and (max-width:800px){
   
/* body{
    background-color: red;
} */
.container{
    background-image: url(./images/bg-curvy-mobile.svg);
    overflow: hidden;
    
}

nav{
    display: flex;
    padding: 17px 24px;
}

p{
    color: white;
}

.mainSprite img{
    height:200px;

}
.mainText{
    padding: 10px;
    margin: 0;
    gap: 31px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.mainText h2{
         text-align: center;
    line-height: 30px;
    margin: 2px 0px;
    font-weight: 700;
    font-size: 18px;
    width: 400px;
    margin-top: 84px;
    letter-spacing: 0.01cm;
}
   

.mainText p{
   opacity: 0.7;
    width: 79%;
    font-size: 12px; 
}
.mainText button{
     
    font-size: 11px;
    height: 36px;
    width: 112px;
   
}
.mainText button:hover{
    background-color:hsl(176, 68%, 64%) ;

}
section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.mainSprite{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.services{
    flex-direction:column;
    height: 243vh;
}
.servBox{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    height: 700px;
    padding: 50px;
    justify-content: space-around;

}
#sec{
    transform: translateY(-154px);
}
.servBox div{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px
}
.servBox div p{
    font-size: 10px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.779);
    text-align: center;
    width: 300px;
}
.servBox h4{
    margin: 10px 0px;
}
.img img{
    height: 200px;
}
.works{
    height: 84vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* transform: translateY(-166px); */
}
.worksText{
 display: flex;
 flex-direction: column;
 width: 500px;
 margin: 10px auto;
 margin-top: 80px;
}
.worksText h2{
    width: 300px;
    font-size: 30px;
    font-weight: 700;
}
.worksText p{
    margin: 10px 0px;
    font-size:10px;
    width: 300px;
    color: rgba(255, 255, 255, 0.605);
}
.worksText a{
        color: #00ffff96;
    /* text-decoration: underline; */
    line-height: 20px;
    text-decoration: none;
    
}
.worksText hr{
   width: 130px;
    transform: translate(-2px, -4px);
    border-color: aqua;
    border-style: outset;
}
.reviews img{
    height: 30px;
    border-radius: 50%;
}
.reviews{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: red; */
    height: 127vh;
    flex-direction: column;
    transform: translateY(-289px);
}
.rev{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-color: hsl(219, 30%, 18%);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.rev p{
    font-size: 11px;
    width: 300px;
    color: rgba(255, 255, 255, 0.809);
}
.profile{
    display: flex;
    align-items: start;
}
.profile p{
    margin-left: 10px;

}
.signIn{    
       margin: 61px auto;
    width: 70%;
    height: 398px;
    display: flex;
    /* transform: translateY(-245px); */
    padding: 48px;
}
.signIn p {
    width: 309px;
    /* transform: translateY(-48px); */
    text-align: center;
    font-size: 15px;
}
.signIn form{
    transform: translateY(-49px);
    width: 100%;
    display: flex;
    height: 130px;
    flex-direction: column;
    /* background: red; */
    align-items: center;
    justify-content: space-around;
}
.signIn h2{
        transform: translateY(-27px);
        text-align: center;
}
.signIn input{
    width: 100%;
    
}
nav ul {
   
    padding: 17px 31px;
    align-items: center;
    width: 221px;
   
}
#top{
    
       height: 64px;
    width: 66px;
    border-radius: 50%;
    bottom: 10px;
    position: fixed;
    right: 12px;
    border: none;
    outline: none;
    background: linear-gradient(45deg, #273349ed, #2733496b);
    color: white;
    z-index: 100;
}
.signIn button{
    margin: 10px 0px;
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: -10; */
    height: 195vh;
    width: 100%;
    padding: 10px 30px;
    align-self: self-start;
    margin: 0 auto;
    background-color: transparent;
}
.logo img{
    height: 20px;
}


.foot{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    justify-content: space-around;
}
.foot ul{
    list-style-type: none;
}
.foot1{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 10px;
    width: 350px;
    font-size: 12px;
    height: 250px;
    text-align: start;
    /* background-color: red; */
}
.foot1 p{
    width: 300px;
}
.foot2{
    display: flex;
    /* background-color: red; */
   height: 60px;
   padding: 10px;
    justify-content: space-around;
    flex-direction: column;
}
.foot2 img{
    margin: 0 9px;
}
.foot3 {
    display: flex;
    flex-direction: column;
    height: 98px;
    justify-content: space-around;
}
.foot4{
    display: flex;
    transform: translate(30%, 88px);
    /* width: 100px; */
    justify-content: space-around;
    
}
.ul1 ul{
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 131px;
    align-items: start;
    text-align: start;
    justify-content: space-around;
}

.ul2 ul{
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 131px;
    align-items: start;
    text-align: start;
    justify-content: space-around;
}
.socials{
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin: 0 10px;

}
.footerScale{
    margin-top: 300px;
}

}